@import "layout";

$headerColorTop: #6E7FA0;
$headerColorBottom: #505E79;
$white: #ffffff;

body {
  background-color: #FAFAFA;
}

header {
  height: 50px;
  line-height: 50px;
  color: $white;
  @include linearGradient(top, $headerColorTop, $headerColorBottom, #5E6E8B);
}

.main {
  .opt {
    padding: 0 0px;
  }

}