<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>在线考试</title>
  <link rel="stylesheet" href="/utils/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<header class="container-fluid">
  在线考试
</header>
<section class="container">
    <a href="/student" class="col-xs-12 col-md-5 col-lg-5 col-lg-offset-1"> 我是学生</a>
    <a href="/teacher" class="col-xs-12 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-0"> 我是教师</a>
</section>
</body>
</html>